@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Eczar:wght@400..800&family=Great+Vibes&family=Kaushan+Script&family=Merienda:wght@300..900&family=Pacifico&display=swap');

*{
    margin: 0%;
    padding: 0%;
}
.home {

    font-family: "Eczar", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: oblique;
}

#navbar-example2 {
    z-index: 1;
    background-color: rgb(49, 45, 90);
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  

}
#footer{
    background-color: rgb(49, 45, 90);
    margin-top: 150px;
    padding: 15px;
    bottom: 0%;
    color: aliceblue;
    left: 0;
    width: 100%;
    
}



/* #top{
   
    height: 800px;
    position: relative;
} */
/* .rows-one {
    height: 800px;
    width: 100%;
    position: relative;
} */
/* 
.first-one {
    height: auto;
    width: 100%;
    top: 100px;
    z-index: -1;
} */

/* #mid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;

} */

/* h1#nam {
    position: absolute;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;

} */

/* #mid-one {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 700px;
    column-gap: 70px;
} */

/* @media screen and (max-width:560px) {

    .first-one {
        height: auto;
        left: 50;
        width: 100%;
        position: absolute;
        top: 100px;
        z-index: -1;
    }

    #mid-one {
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: start;
        column-gap: 70px;
        height: 500px;
        top: 100px;
        z-index: -1;
    } */

    /* #mid {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;

    }

    .img-one {
        left: 0px;
        margin-right: 100px;
     
    }
     */
    /* h1#nam {
        position: absolute;
        
        font-family: "Great Vibes", cursive;
        font-weight: 400;
        font-style: normal;
    
    }
    #mid img {
        height: 370px;
        width: 800px;
        margin-left: 40px;

    }
   
} */




/* @media screen and (min-width:561px)  {
    #mid {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 700px;

    }

} */


/* #inv{
    position: sticky;
    top: 0;
    background-repeat: no-repeat;
    
    
} */



/* #date {
    margin-left: 350px;
    z-index: 1;
}

span {
    font-size: 40px;
    margin-left: 0px;
} */

#box {
    height: 100vh;
    width: 40%;
    /* color: aliceblue; */
    /* background-color: rgba(235, 235, 231, 0.667); */
    background-color:blanchedalmond;
    border: none;
    box-shadow: 30px rgb(1, 1, 1);
    /* background-image: url(''); */
   background-position: center;
background-attachment: scroll;
background-size: cover;
background-repeat: no-repeat;
   margin-left: -30px;

}

/* @media screen and (max-width:600px) {
    #box {
        height: 100vh;
        width: 100%;
        border: 6px double rgb(50, 50, 99);
        margin-left: 30px;
        margin-top: 50px;
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyWKMg79Y7rNjhwx4-6zFQKzN7VnjPMUKqmQ&s);
        background-repeat: no-repeat;
        background-size: cover;
       
    }

} */

/* @media screen and (min-width:601px)  {
    #box {
        height: 100vh;
        width: 100%;
        border: 6px double rgb(50, 50, 99);
        margin-left: 30px;
        margin-top: 50px;
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyWKMg79Y7rNjhwx4-6zFQKzN7VnjPMUKqmQ&s);
        background-repeat: no-repeat;
        background-size: cover;
        
    }

} */